asgiref
Django
django-environ
djangorestframework
djangorestframework-simplejwt
django-cors-headers
dj-database-url
pytz
sqlparse
django-allauth
dj-rest-auth
django-filter
mysqlclient
stripe
Pillow
gunicorn
whitenoise